.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
}

h1 {
  text-decoration: underline;
}

h2 {
  color: #adff2f;
}

.header {
  background: #fa8e00;
  width: 100%;
  text-align: center;
}